.tableWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.divTable {
  border: 1px solid lightgray;
  width: fit-content;
  font-family: "Noto Sans";
}

.tr {
  display: flex;
}

tr,
.tr {
  width: fit-content;
  height: 44px;

  &:nth-child(odd) .td {
    @apply bg-white/40;
  }
}

th,
.th,
td,
.td {
  height: 44px;
  font-weight: 700;
  padding-block: 0;
  padding-inline: 12px;
  cursor: default;
}

th,
.th {
  @apply bg-primary-o30;
  position: relative;
  text-align: left;
}

td,
.td {
  @apply text-neutrals900 bg-white/50;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.resizerButton {
  background-color: rgba(214, 87, 131, 20%);
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  width: 4px;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  transition: background-color ease 200ms;

  &:hover {
    opacity: 0;
    background-color: rgba(214, 87, 131, 30%);
  }
}

.isResizing {
  background-color: rgba(214, 87, 131, 50%);
  opacity: 1;
}

*:hover > .resizerButton {
  opacity: 1;
}
.thead {
  & .tr :first-child {
    border-top-left-radius: 1rem;
  }
  & .tr :last-child {
    border-top-right-radius: 1rem;
  }
}

.tbody {
  & .tr {
    border-bottom: 1px solid var(--color-primary-o30);

    &:last-child {
      border-bottom: none;

      & .td {
        &:first-child {
          border-bottom-left-radius: 1rem;
        }
        &:last-child {
          border-bottom-right-radius: 1rem;
        }
      }
    }
    & .td {
      border-right: 3px solid rgba(255, 255, 255, 30%);

      &:last-child {
        border-right: none;
      }
    }
  }
}

.headerInfo {
  @apply text-neutrals800 leading-[120%] w-full h-full;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
