@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local("NotoSans-Regular"),
    url("/fonts/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: medium;
  font-weight: 500;
  src: local("NotoSans-Medium"),
    url("/fonts/NotoSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: bold;
  font-weight: 600;
  src: local("NotoSans-SemiBold"),
    url("/fonts/NotoSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: bolder;
  font-weight: 700;
  src: local("NotoSans-Bold"),
    url("/fonts/NotoSans-Bold.ttf") format("truetype");
}

:root {
  --color-neutrals-900: #383434;
  --color-neutrals-800: #4e4949;
  --color-neutrals-600: #7a7474;
  --color-rose-o10: rgba(253, 239, 244, 0.1);
  --color-rose-o20: rgba(253, 239, 244, 0.2);
  --color-rose-o40: rgba(253, 239, 244, 0.4);
  --color-rose-o60: rgba(253, 239, 244, 0.6);
  --color-primary: #d65683;
  --color-primary-300: #facedd;
  --color-primary-o30: rgb(214 86 131 / 30%);
  --color-primary-o40: rgb(214 86 131 / 40%);
  --color-green-o40: rgb(77 165 98 / 40%);
  --color-purple-o40: rgb(151 149 191 / 40%);
  --color-white-o40: rgb(255 255 255 / 40%);
  --color-secondary: #4a56ac;
  --color-error-200: #c03744;
}

@layer utilities {
  .shadow-custom {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3),
      -4px -4px 6px -1px rgba(255, 255, 255, 0.5);
  }
  .inner-shadow-custom {
    box-shadow: inset 0px 0px 6px -1px rgba(0, 0, 0, 0.5),
      inset -5px -5px 10px -1px rgba(255, 255, 255, 0.5);
  }
  .inner-smooth-shadow {
    /* background: rgba(250, 250, 250, 0.1);*/
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.25),
      inset 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .shadow-suave {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
  .shadow-glass-effect {
    box-shadow: -2px -2px 4px #ffffff, 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 12.6667px -12.6667px 12.6667px rgba(165, 165, 165, 0.1),
      inset -12.6667px 12.6667px 12.6667px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12.6667px);
    outline: none;
    order: 0;
  }

  .shadow-glassy-effect {
    box-shadow: inset 12.6667px -12.6667px 12.6667px rgba(255, 255, 255, 10%),
      inset -12.6667px 12.6667px 12.6667px rgba(165, 165, 165, 10%);

    backdrop-filter: blur(25.33px);
    outline: none;
  }

  .text-shadow {
    text-shadow: 1px 3px 4px #27272761;
  }
  .heading-2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    color: var(--color-neutrals-900);
  }
  .heading-1 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 120%;
    color: var(--color-neutrals-900);
  }
  .animation-enter {
    animation: modalAnimation 0.2s ease-in 0.05s forwards;
  }
  .scrollbar-style {
    --bg-scrollbar-thumb: #dde2e5;
    --bg-scrollbar-thumb-hover: #f2f6f8;
    --bg-scrollbar-track: #cdd3d6;
    &.rose {
      --bg-scrollbar-thumb: rgb(255 209 226 / 75%);
      --bg-scrollbar-thumb-hover: rgb(255 209 226 / 95%);
      --bg-scrollbar-track: rgb(209 197 201 / 20%);
    }
  }
  .scrollbar-style::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-style::-webkit-scrollbar-track {
    background: var(--bg-scrollbar-track);
    border-radius: 10px;
  }

  .scrollbar-style::-webkit-scrollbar-thumb {
    background-color: var(--bg-scrollbar-thumb);
    border-radius: 20px;
  }

  .scrollbar-style::-webkit-scrollbar-thumb:hover {
    background: var(--bg-scrollbar-thumb-hover);
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-image: url("../src/assets/imgs/template.png");
  background-position: center;
  background-size: cover;
  min-height: 100dvh;
}

html,
:root {
  height: auto;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

:is(.td, .th):has(> span.no-style) {
  background: transparent;
  box-shadow: none;
  backdrop-filter: none;

  & .resize {
    display: none;
  }
}

:is(.td, .th):has(> span.no-resize) .resize {
  display: none;
}

@keyframes modalAnimation {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
